@import url(https://fonts.googleapis.com/css?family=Dosis:400,300,700,500);
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700);
body {
  overflow-x: hidden; }

.section-container {
  position: relative; }

.section-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: 1px solid white;
  vertical-align: middle;
  color: white;
  height: 200px;
  width: calc(100% / 1.4); }

.section-content-text {
  position: relative;
  top: 40%;
  transform: translateY(-50%); }
  .section-content-text h2 {
    font-size: 18px;
    font-family: "Quicksand";
    margin-bottom: 0; }
  .section-content-text h2 span:before, .section-content-text h2 span:after {
    content: "";
    position: absolute;
    line-height: 0.5;
    border-top: 1px solid white;
    top: 12%;
    width: 60px; }
  .section-content-text h2 span:before {
    right: 38%;
    margin-right: 15px; }
  .section-content-text h2 span:after {
    left: 38%;
    margin-left: 15px; }
  .section-content-text h1 {
    font-size: 28px;
    font-family: "Quicksand";
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0; }
    @media screen and (min-width: 481px) {
      .section-content-text h1 {
        font-size: 38px; } }
    @media screen and (min-width: 768px) {
      .section-content-text h1 {
        font-size: 48px; } }

nav {
  padding: 20px 0;
  height: 80px;
  background-color: white;
  position: relative;
  left: 0;
  top: 0;
  transition: all 1.2s ease; }
  @media screen and (min-width: 992px) {
    nav {
      padding: 20px 80px; } }
  @media screen and (min-width: 1200px) {
    nav {
      padding: 20px 100px; } }
  @media screen and (min-width: 1400px) {
    nav {
      padding: 20px 210px; } }

.nav-logo {
  float: left;
  font-size: 24px;
  font-family: "Quicksand";
  border: 1px solid #f34739;
  border-top-left-radius: 2em;
  border-bottom-right-radius: 2em;
  border-bottom-left-radius: 2em; }
  .nav-logo a {
    color: black;
    padding: 10px; }
  .nav-logo a:hover {
    text-decoration: none; }

.nav-icons {
  float: right;
  margin-top: 10px;
  visibility: hidden;
  transition: all 0.9s ease; }
  @media screen and (min-width: 992px) {
    .nav-icons {
      visibility: visible;
      padding-right: 320px; } }
  @media screen and (min-width: 1200px) {
    .nav-icons {
      padding-right: 230px; } }
  .nav-icons a {
    display: inline-block;
    margin-right: 30px; }
  .nav-icons .facebook {
    height: 24px;
    width: 14px;
    background: url("../Images/icons-1.gif") 0 0; }
  .nav-icons .instagram {
    background: url("../Images/icons-1.gif") -40px 0;
    height: 24px;
    width: 25px; }
  .nav-icons .twitter {
    background: url("../Images/icons-1.gif") -90px 0;
    height: 24px;
    width: 30px; }
  .nav-icons .linkedin {
    background: url("../Images/icons-1.gif") -150px 0;
    height: 24px;
    width: 22px; }

#navigation-menu {
  height: 80px;
  padding-top: 15px;
  background-color: transparent;
  border: 0;
  position: fixed;
  right: 0;
  top: 0;
  border-radius: 0;
  transition: all 1s ease; }
  @media screen and (min-width: 768px) {
    #navigation-menu {
      width: 440px;
      background-color: black; } }

.icon-bar {
  background-color: black !important; }
  @media screen and (min-width: 768px) {
    .icon-bar {
      background-color: white !important; } }

.navbar-header {
  float: none; }
  .navbar-header button {
    border: 0;
    float: right; }
    @media screen and (min-width: 768px) {
      .navbar-header button {
        float: left; } }

.navbar-toggle {
  display: block; }

.navbar-collapse.collapse {
  display: none !important; }

ul.navbar-nav {
  float: right;
  margin: 0 0 0 auto;
  padding: 0;
  width: 100%; }
  @media screen and (min-width: 768px) {
    ul.navbar-nav {
      margin-right: 0;
      float: none;
      width: 440px; } }

.navbar-nav > li {
  padding: 10px;
  float: none;
  list-style: none;
  font-size: 20px;
  background-color: white;
  text-align: right; }
  @media screen and (min-width: 768px) {
    .navbar-nav > li {
      background-color: black;
      text-align: left; } }

.navbar-collapse {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  border: 0; }

.navbar-collapse.collapse.in {
  display: block !important; }

.navbar-brand {
  color: #B5B5B5;
  visibility: hidden;
  font-family: "Quicksand";
  font-size: 18px; }
  @media screen and (min-width: 768px) {
    .navbar-brand {
      visibility: visible; } }

li > a {
  color: #454545; }
  @media screen and (min-width: 768px) {
    li > a {
      color: #B5B5B5; } }

li > a:hover, li > a:focus, .navbar-brand:hover, .navbar-brand:focus {
  color: black !important;
  text-decoration: none; }
  @media screen and (min-width: 768px) {
    li > a:hover, li > a:focus, .navbar-brand:hover, .navbar-brand:focus {
      color: white !important; } }

.nav-up {
  margin-top: 10px;
  opacity: 1; }

.nav-down {
  margin-top: -100px;
  opacity: 0; }

.navOnScroll {
  -webkit-box-shadow: 0 4px 5px #454545;
  -moz-box-shadow: 0 4px 5px #454545;
  box-shadow: 0 4px 5px #454545; }

#home {
  background: url("../Images/heabeBackground.png") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 1;
  position: relative;
  min-height: 100vh;
  margin-top: 0;
  padding-top: 0; }
  @media screen and (min-width: 768px) {
    #home {
      background: url("../Images/heabeBackground.png") no-repeat center fixed; } }

.home-container {
  text-align: center;
  padding-top: 30vh; }
  .home-container h2 {
    line-height: 0.3;
    text-align: center;
    font-size: 30px; }
  .home-container h2 span {
    display: inline-block;
    position: relative;
    color: white;
    font-family: 'Dosis', sans-serif;
    font-weight: 300; }
  .home-container h2 span:before, .home-container h2 span:after {
    content: "";
    position: absolute;
    line-height: 0.5;
    border-top: 1px solid white;
    top: 0;
    width: 160px; }
  .home-container h2 span:before {
    right: 100%;
    margin-right: 15px; }
  .home-container h2 span:after {
    left: 100%;
    margin-left: 15px; }
  .home-container h1 {
    font-size: 50px;
    color: white;
    text-transform: uppercase;
    font-family: "Quicksand";
    font-weight: 700; }
    @media screen and (min-width: 481px) {
      .home-container h1 {
        font-size: 62px; } }
    @media screen and (min-width: 768px) {
      .home-container h1 {
        font-size: 72px; } }
  .home-container button {
    background-color: transparent;
    border: 1px solid white;
    height: 50px;
    width: 200px;
    border-radius: 25px;
    color: white;
    font-size: 18px;
    font-family: "Quicksand";
    transition: all 0.5s linear; }
  .home-container button:hover {
    background-color: #454545;
    color: white;
    font-size: 20px; }
  .home-container button:focus {
    outline: none; }

.home-container-icons {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%); }
  .home-container-icons a {
    font-size: 20px;
    color: white;
    transition: all 0.5s ease; }
    .home-container-icons a i {
      display: block; }
  .home-container-icons a:hover {
    text-decoration: none;
    font-size: 24px; }
  .home-container-icons a:focus {
    text-decoration: none; }

/* Pie Chart */
#counts {
  padding: 20px 0; }
  @media screen and (min-width: 992px) {
    #counts {
      padding: 20px 80px; } }
  @media screen and (min-width: 1200px) {
    #counts {
      padding: 20px 100px; } }
  @media screen and (min-width: 1400px) {
    #counts {
      padding: 20px 210px; } }

.progress-pie-chart {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #E5E5E5;
  position: relative; }

.progress-pie-chart.gt-50 {
  background-color: #009989; }

.ppc-progress {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  width: 200px;
  height: 200px;
  clip: rect(0, 200px, 200px, 100px); }

.ppc-progress .ppc-progress-fill {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  width: 200px;
  height: 200px;
  clip: rect(0, 100px, 200px, 0);
  background: #009989;
  transform: rotate(60deg); }

.gt-50 .ppc-progress {
  clip: rect(0, 100px, 200px, 0); }

.gt-50 .ppc-progress .ppc-progress-fill {
  clip: rect(0, 200px, 200px, 100px);
  background: #E5E5E5; }

.ppc-percents {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 190px/2);
  top: calc(50% - 190px/2);
  width: 190px;
  height: 190px;
  background: #fff;
  text-align: center;
  display: table; }

.ppc-percents span {
  display: block;
  font-weight: bold;
  color: #009989;
  font-size: 64px;
  font-family: "Quicksand"; }

.ppc-percents p {
  font-size: 18px;
  font-family: "Quicksand";
  color: #454545;
  text-transform: uppercase;
  line-height: 1.222;
  text-align: center; }

.pcc-percents-wrapper {
  display: table-cell;
  vertical-align: middle; }

.progress-pie-chart {
  margin: 50px auto 0; }

.bar_container p {
  font-size: 18px;
  font-family: "Quicksand";
  color: #454545;
  text-align: center; }

.ourTeam {
  padding: 20px 0; }
  @media screen and (min-width: 992px) {
    .ourTeam {
      padding: 20px 80px; } }
  @media screen and (min-width: 1200px) {
    .ourTeam {
      padding: 20px 100px; } }
  @media screen and (min-width: 1400px) {
    .ourTeam {
      padding: 20px 210px; } }

.ourTeam-element {
  position: relative;
  padding: 0;
  margin: 0;
  width: auto;
  text-align: center; }

.ourTeam-element-content {
  height: 300px;
  position: relative; }

.ourTeam-element-content:after {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-width: 30px; }

.ourTeam-element-content h2 {
  font-size: 36px;
  font-family: "Quicksand";
  text-transform: uppercase;
  line-height: 30px;
  padding-top: 50px; }
  @media screen and (min-width: 768px) {
    .ourTeam-element-content h2 {
      padding-top: 30px; } }
  @media screen and (min-width: 992px) {
    .ourTeam-element-content h2 {
      padding-top: 40px; } }
  @media screen and (min-width: 1200px) {
    .ourTeam-element-content h2 {
      padding-top: 50px; } }

.ourTeam-element-content h3 {
  font-size: 20px;
  font-family: "Quicksand";
  margin-top: 0;
  line-height: 10px; }

.ourTeam-element-content hr {
  width: 180px;
  border: 1px solid #f34739; }

.ourTeam-element-content p {
  font-size: 20px;
  font-family: "Quicksand";
  color: #454545;
  padding: 0 50px;
  line-height: 20px; }
  @media screen and (min-width: 1200px) {
    .ourTeam-element-content p {
      padding: 0 100px; } }
  @media screen and (min-width: 1400px) {
    .ourTeam-element-content p {
      padding: 0 120px; } }

.ourTeam-element-picture {
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px; }
  @media screen and (min-width: 768px) {
    .ourTeam-element-picture {
      position: static; } }
  .ourTeam-element-picture img {
    zoom: 2;
    height: 200px; }

#adrianna {
  background-image: url("../Images/adrianna.png"); }

#olivia {
  background-image: url("../Images/olivia.png"); }

#thomas {
  background-image: url("../Images/thomas.png"); }

#taylor {
  background-image: url("../Images/taylor.png"); }

.ourTeam-element-picture_border {
  position: absolute;
  max-width: 100%;
  top: 0;
  right: 20px;
  left: 20px;
  bottom: 20px;
  border: 3px solid white;
  border-top: 0px; }

.ourTeam-element-content_border {
  position: absolute;
  max-width: 100%;
  top: 20px;
  right: 20px;
  left: 20px;
  bottom: 0;
  border: 3px solid black;
  border-bottom: 0px; }

@media screen and (min-width: 768px) {
  .ourTeam-element:nth-child(even) .ourTeam-element-content:after {
    left: 100%;
    top: 50%;
    border-left-color: #ffffff;
    margin-top: -30px; } }

@media screen and (min-width: 768px) {
  .ourTeam-element:nth-child(even) .ourTeam-element-picture_border {
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 0;
    border: 3px solid white;
    border-left: 0px;
    z-index: 1; } }

@media screen and (min-width: 768px) {
  .ourTeam-element:nth-child(even) .ourTeam-element-content_border {
    top: 20px;
    left: 20px;
    bottom: 20px;
    right: 0;
    border: 3px solid black;
    border-right: 0px;
    z-index: 999; } }

@media screen and (min-width: 768px) {
  .ourTeam-element:nth-child(odd) .ourTeam-element-picture {
    float: left; } }

@media screen and (min-width: 768px) {
  .ourTeam-element:nth-child(odd) .ourTeam-element-picture_border {
    top: 20px;
    left: 20px;
    bottom: 20px;
    right: 0;
    border: 3px solid white;
    border-right: 0px;
    z-index: 1; } }

@media screen and (min-width: 768px) {
  .ourTeam-element:nth-child(odd) .ourTeam-element-content {
    float: right;
    clear: right; } }

@media screen and (min-width: 768px) {
  .ourTeam-element:nth-child(odd) .ourTeam-element-content:after {
    right: 100%;
    top: 50%;
    border-right-color: #ffffff;
    margin-top: -30px; } }

@media screen and (min-width: 768px) {
  .ourTeam-element:nth-child(odd) .ourTeam-element-content_border {
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 0;
    border: 3px solid black;
    border-left: 0px;
    z-index: 999; } }

.portfolio-container {
  margin: 0;
  padding: 0;
  height: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  width: 100%; }
  .portfolio-container .portfolio-container-first, .portfolio-container .portfolio-container-second, .portfolio-container .portfolio-container-third, .portfolio-container .portfolio-container-fourth {
    display: flex;
    -webkit-flex-wrap: nowrap; }
    .portfolio-container .portfolio-container-first a img, .portfolio-container .portfolio-container-second a img, .portfolio-container .portfolio-container-third a img, .portfolio-container .portfolio-container-fourth a img {
      max-width: 100%;
      max-height: 100%;
      opacity: 0.6;
      -webkit-transition: all .5s ease-in-out; }
    .portfolio-container .portfolio-container-first a img:hover, .portfolio-container .portfolio-container-second a img:hover, .portfolio-container .portfolio-container-third a img:hover, .portfolio-container .portfolio-container-fourth a img:hover {
      opacity: 1;
      -webkit-filter: grayscale(0); }
  .portfolio-container #portfolio-display {
    position: relative;
    text-align: center; }
  .portfolio-container #portfolio-display > img {
    opacity: 1;
    position: relative; }
  .portfolio-container .portfolio-display-elem {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    color: black; }
    .portfolio-container .portfolio-display-elem p {
      padding-top: 30%;
      font-size: 18px; }
  @media screen and (min-width: 481px) {
    .portfolio-container .portfolio-container-fourth {
      display: none; } }
