/* Pie Chart */
#counts{
 @include padding();
}
.progress-pie-chart {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #E5E5E5;
  position: relative;
}


.progress-pie-chart.gt-50{
  background-color: $color-green;
}

.ppc-progress {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  width: 200px;
  height: 200px;
  clip: rect(0, 200px, 200px, 100px);
}
.ppc-progress .ppc-progress-fill {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  width: 200px;
  height: 200px;
  clip: rect(0, 100px, 200px, 0);
  background: $color-green;
  transform: rotate(60deg);
}

.gt-50 .ppc-progress {
  clip: rect(0, 100px, 200px, 0);
}
.gt-50 .ppc-progress .ppc-progress-fill {
  clip: rect(0, 200px, 200px, 100px);
  background: #E5E5E5;
}

.ppc-percents {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 190px/2);
  top: calc(50% - 190px/2);
  width: 190px;
  height: 190px;
  background: #fff;
  text-align: center;
  display: table;
}
.ppc-percents span {
  display: block;
  font-weight: bold;
  color: $color-green;
  font-size: 64px;
  font-family: "Quicksand";
}

.ppc-percents p {
  font-size: 18px;
  font-family: "Quicksand";
  color: rgb(69, 69, 69);
  text-transform: uppercase;
  line-height: 1.222;
  text-align: center;
}


.pcc-percents-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.progress-pie-chart {
  margin: 50px auto 0;
}

.bar_container p{
    font-size: 18px;
    font-family: "Quicksand";
    color: rgb(69, 69, 69);
  text-align: center;

}