
@mixin padding(){
  padding: 20px 50px;
  @include medium {
    padding: 20px 80px;
  }
  @include large {
    padding: 20px 120px;
  }
  @include xlarge {
    padding: 20px 210px;
  }
}

@mixin small {
  @media screen and (min-width: 481px) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin large {
  @media screen and (min-width: 992px) {
    @content;
  }
}

@mixin xlarge {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin xxlarge {
  @media screen and (min-width: 1400px) {
    @content;
  }
}

