
nav {
  height: 80px;
  background-color: white;
}

.nav-logo {
  float: left;
  font-size: 24px;
  font-family: "Quicksand";
  border: 1px solid #f34739;
  border-top-left-radius: 2em;
  border-bottom-right-radius: 2em;
  border-bottom-left-radius: 2em;
  margin-top: 20px;
  margin-left: 210px;
  a {
    color: black;
    padding: 10px;
  }
  a:hover {
    text-decoration: none;
  }
}

.nav-icons {
  float: right;
  margin-right: 440px;
  margin-top: 25px;
  a {
    display: inline-block;
    margin-right: 30px;
  }
  .facebook {
    height: 24px;
    width: 14px;
    background: url("../Images/icons-1.gif") 0 0;
  }
  .instagram {
    background: url("../Images/icons-1.gif") -40px 0;
    height: 24px;
    width: 25px;
  }
  .twitter {
    background: url("../Images/icons-1.gif") -90px 0;
    height: 24px;
    width: 30px;
  }
  .linkedin {
    background: url("../Images/icons-1.gif") -150px 0;
    height: 24px;
    width: 22px;
  }
}

#myScrollspy {
  width: 440px;
  margin-right: 0px;
  margin-left: auto;
  button {
    float: left;
    border: 0px;
  }
}

.navbar {
  padding-top: 15px;

  background-color: white;
  @include medium {
    width: 440px;
    background-color: black;
  }
  margin-right: 0;
  margin-left: auto;
  height: 80px;
  line-height: 80px;
  button {
    border: 0;
    float: left;
  }
}

.navbar-header {
  float: none;
}

.navbar-toggle {
  display: block;
}

.navbar-collapse.collapse {
  display: none !important;
}

.navbar-nav {
  float: none !important;
}

.navbar-nav > li {
  float: none;
}

.navbar-collapse.collapse.in {
  display: block !important;
}