
nav {
  @include padding();
  height: 80px;
  background-color: $color-light;
  position: relative;
  left: 0;
  top:0;
  transition: all 1.2s ease;
}

.nav-logo {
  float: left;
  font-size: 24px;
  font-family: "Quicksand";
  border: 1px solid $color-red;
  border-top-left-radius: 2em;
  border-bottom-right-radius: 2em;
  border-bottom-left-radius: 2em;

  a {
    color: $color-dark;
    padding: 10px;
  }
  a:hover {
    text-decoration: none;
  }
}

.nav-icons {
  float: right;
  margin-top: 10px;
  visibility: hidden;
  transition: all 0.9s ease;
  @include large {
    visibility: visible;
    padding-right: 320px;
  }

  @include xlarge {
    padding-right: 230px;
  }
  a {
    display: inline-block;
    margin-right: 30px;
  }
  .facebook {
    height: 24px;
    width: 14px;
    background: url("../Images/icons-1.gif") 0 0;
  }
  .instagram {
    background: url("../Images/icons-1.gif") -40px 0;
    height: 24px;
    width: 25px;
  }
  .twitter {
    background: url("../Images/icons-1.gif") -90px 0;
    height: 24px;
    width: 30px;
  }
  .linkedin {
    background: url("../Images/icons-1.gif") -150px 0;
    height: 24px;
    width: 22px;
  }
}


#navigation-menu {
  height: 80px;
  padding-top: 15px;
  background-color: transparent;
  border: 0;
  position: fixed;
  right: 0;
  top: 0;
  border-radius: 0;
  transition: all 1s ease;
  @include medium {
    width: 440px;
    background-color: $color-dark;
  }
}

.icon-bar {
  background-color: $color-dark !important;
  @include medium {
    background-color: $color-light !important;
  }
}

.navbar-header {
  float: none;
  button {
    border: 0;
    float: right;
    @include medium {
      float: left;
    }

  }
}

.navbar-toggle {
  display: block;
}

.navbar-collapse.collapse {
  display: none !important;
}

ul.navbar-nav {
  float: right;
  margin: 0 0 0 auto;
  padding: 0;
  width: 100%;
  @include medium {
    margin-right: 0;
    float: none;
    width: 440px;
  }
}

.navbar-nav > li {
  padding: 10px;
  float: none;
  list-style: none;
  font-size: 20px;
  background-color: $color-light;
  text-align: right;
  @include medium {
    background-color: $color-dark;
    text-align: left;
  }
}

.navbar-collapse {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  border: 0;
}

.navbar-collapse.collapse.in {
  display: block !important;
}

.navbar-brand {
  color: $color-light;
  visibility: hidden;
  font-family: "Quicksand";
  font-size: 18px;
  @include medium {
    visibility: visible;
  }
}
li>a{
  color: $color-grey;
  @include medium{
    color: #B5B5B5;
  }
}

li > a:hover, li > a:focus{
  color: $color-dark !important;
  text-decoration: none;
  @include medium {
    color: $color-light !important;
  }
}

.nav-up{
  margin-top: 10px;
  opacity: 1;
}
.nav-down{
  margin-top: -100px;
  opacity: 0;
}

.navOnScroll{
  -webkit-box-shadow: 0 4px 5px $color-grey;
  -moz-box-shadow: 0 4px 5px $color-grey;
  box-shadow: 0 4px 5px $color-grey;
}

