#portfolio {
  width: 100vw;
}

.portfolio-container {
  margin: 0;
  padding: 0;
  height: auto;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-flex-direction: row;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  width: 100%;
  .portfolio-element {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    a {
      img {
        @extend .img-responsive;
        opacity: 0.6;
        transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
      }

      img:hover {
        opacity: 1;
        filter: grayscale(0);
        -webkit-filter: grayscale(0);
      }
    }
  }
  #portfolio-display {
    position: relative;
    text-align: center;
  }
  #portfolio-display > img {
    opacity: 1;
    position: relative;
  }
  .portfolio-display-elem {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    color: black;
    p{
      padding-top: 35%;
      font-size: 18px;
    }
  }

  .portfolio-container-fourth {
    @include small {
      display: none;
    }
  }
}

.portfolio-element{
  opacity: 0;
  -moz-transition: all 1000ms ease-in;
  -webkit-transition: all 1000ms ease-in;
  -o-transition: all 1000ms ease-in;
  transition: all 1000ms ease-in;
}

.portfolio-element.in-view {
  opacity: 1;
}
