#portfolio {
  @include padding();
}

.portfolio-element:nth-child(even) {

  .portfolio-element-picture {
    float: right;
  }
  .portfolio-element-content {
    float: left;
  }
}

.portfolio-element:nth-child(odd) {

  .portfolio-element-picture {
    float: left;
  }
  .portfolio-element-content {
    float: right;
  }
}
