
//fonts
@import url(https://fonts.googleapis.com/css?family=Dosis:400,300,700,500);
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700);

//colors
$color-light:white;
$color-dark:black;
$color-grey:rgb(69, 69, 69);
$color-red: #f34739;