
//fonts
@import url(https://fonts.googleapis.com/css?family=Dosis:400,300,700,500);
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700);

//colors
$color-light:white;
$color-dark:black;
$color-grey:rgb(69, 69, 69);
$color-light-grey: #B5B5B5;
$color-red: #f34739;
$color-green:#009989;
$color-darkblue:#152b3c;
$color-footer: #101010;