<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fashion Smart Template</title>
    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <link href="../css/AllStyles.css" rel="stylesheet"/>
</head>
<body>

<nav id="navigation" class="navbar-fixed-top">
    <div class="nav-logo">
        <a href="#home">DSGN</a>
    </div>
    <div class="nav-icons visible-md visible-lg">
        <a href="http://facebook.com" target="_blank">
            <div class="facebook"></div>
        </a>
        <a href="http://instagram.com" target="_blank">
            <div class="instagram"></div>
        </a>
        <a href="http://twitter.com" target="_blank">
            <div class="twitter"></div>
        </a>
        <a href="http://linkedin.com" target="_blank">
            <div class="linkedin"></div>
        </a>
    </div>

    <div id="navigation-menu">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Menu</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="navbar-nav">
                <li><a href="#counts">Our achievements</a></li>
                <li><a href="#ourTeam">Our team</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#brands">Brands</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>

</nav>

<header id="home">
    <div class="home-container">
        <h2><span>Need our help?</span></h2>
        <h1>Top designers</h1>
        <button>CHECK US!</button>

        <div class="home-container-icons">
            <a href="#counts">
                <i class="glyphicon glyphicon-menu-down"></i>
                <i class="glyphicon glyphicon-menu-down"></i></a>
        </div>

    </div>
</header>

<section id="counts">
    <div class="row">
        <div class="col-xs-12 col-sm-4 bar_container">
            <div class="main_container">
                <div class="pbar progress-pie-chart" data-percent="0">
                    <div class="ppc-progress">
                        <div class="ppc-progress-fill"></div>
                    </div>
                    <div class="ppc-percents">
                        <div class="pcc-percents-wrapper">
                            <span>0</span>
                            <p>big projects</p>
                        </div>
                    </div>
                </div>
                <progress style="display: none" class="progress_bar" value="0" max="50"></progress>
            </div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
            </p>
        </div>
        <div class="col-xs-12 col-sm-4 bar_container">
            <div class="main_container">
                <div class="pbar progress-pie-chart" data-percent="0">
                    <div class="ppc-progress">
                        <div class="ppc-progress-fill"></div>
                    </div>
                    <div class="ppc-percents">
                        <div class="pcc-percents-wrapper">
                            <span>0</span>
                            <p>Clients</p>
                        </div>
                    </div>
                </div>

                <progress style="display: none" class="progress_bar" value="0" max="35"></progress>
            </div>
            <p>Ipsum dolor sit amet, consectetur adipisicing elit, sed incididunt!</p>
        </div>
        <div class="col-xs-12 col-sm-4 bar_container">

            <div class="main_container">
                <div class="pbar progress-pie-chart" data-percent="0">
                    <div class="ppc-progress">
                        <div class="ppc-progress-fill"></div>
                    </div>
                    <div class="ppc-percents">
                        <div class="pcc-percents-wrapper">
                            <span>0</span>
                            <p>Months</p>
                        </div>
                    </div>
                </div>

                <progress style="display: none" class="progress_bar" value="0" max="80"></progress>
            </div>
            <p>Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
        </div>
    </div>
</section>

<section id="ourTeam">
    <div class="section-container">
        <img src="../Images/ourTeam.png"/>
        <div class="section-content">
            <div class="section-content-text">
                <h2><span>Meet us!</span></h2>
                <h1>Our Team</h1>
            </div>
        </div>
    </div>

    <div class="ourTeam">

        <div class="row ourTeam-element">
            <div class="col-xs-12 col-sm-6 ourTeam-element-content">
                <h2>Adrianna</h2>
                <h3>Senior Graphic Designer</h3>
                <hr/>
                <p>She is the graphic designer with 3 years of professional experience.</p>
                <div class="ourTeam-element-content_border"></div>
            </div>

            <div id="adrianna" class="col-xs-12 col-sm-6  ourTeam-element-picture">
                <div class="ourTeam-element-picture_border"></div>
            </div>

        </div>
        <div class=" row ourTeam-element">
            <div class="col-xs-12 col-sm-6 ourTeam-element-content">
                <h2>Olivia</h2>
                <h3>Art Director</h3>
                <hr/>
                <p>She is the art director with 8 years of professional experience.</p>
                <div class="ourTeam-element-content_border"></div>
            </div>

            <div id="olivia" class="col-xs-12 col-sm-6 ourTeam-element-picture">
                <div class="ourTeam-element-picture_border"></div>
            </div>

        </div>
        <div class="row ourTeam-element">

            <div class="col-xs-12 col-sm-6 ourTeam-element-content">
                <h2>Thomas</h2>
                <h3>Software Engeneer</h3>
                <hr/>
                <p>He is the software engeneer with 5 years of professional experience
                </p>
                <div class="ourTeam-element-content_border"></div>
            </div>

            <div id="thomas" class="col-xs-12 col-sm-6 ourTeam-element-picture">
                <div class="ourTeam-element-picture_border"></div>
            </div>

        </div>

        <div class="row ourTeam-element">
            <div class="col-xs-12 col-sm-6 ourTeam-element-content">
                <h2>Taylor</h2>
                <h3>CEO</h3>
                <hr/>
                <p>She is the boss in here</p>
                <div class="ourTeam-element-content_border"></div>
            </div>
            <div id="taylor" class="col-xs-12 col-sm-6 ourTeam-element-picture">
                <div class="ourTeam-element-picture_border"></div>
            </div>
        </div>

    </div>
</section>

<section id="portfolio">
    <div class="section-container">
        <img src="../Images/portfolio.png"/>
        <div class="section-content">
            <div class="section-content-text">
                <h2><span>Check out our project!</span></h2>
                <h1>Portfolio</h1>
            </div>
        </div>
    </div>

    <div class="portfolio-container">
        <div class="portfolio-container-first">
            <a href="#"><img src="../Images/Projects/elem1.png"/></a>
            <a href="#"><img src="../Images/Projects/elem2.png"/></a>
            <a href="#"><img src="../Images/Projects/elem3.png"/></a>
            <a href="#"><img src="../Images/Projects/elem4.png"/></a>
            <a class="hidden-xs" href="#"><img src="../Images/Projects/elem5.png"/></a>
            <a class="hidden-xs hidden-sm" href="#"><img src="../Images/Projects/elem6.png"/></a>
            <a class="hidden-xs hidden-sm" href="#"><img src="../Images/Projects/elem7.png"/></a>

        </div>
        <div class="portfolio-container-second">
            <a href="#"><img src="../Images/Projects/elem8.png"/></a>
            <a href="#"><img src="../Images/Projects/elem9.png"/></a>
            <a href="#"><img src="../Images/Projects/elem10.png"/></a>
            <a href="#"><img src="../Images/Projects/elem11.png"/></a>
            <a class="hidden-xs" href="#"><img src="../Images/Projects/elem12.png"/></a>
            <a class="hidden-xs hidden-sm" href="#"><img src="../Images/Projects/elem13.png"/></a>
            <a class="hidden-xs hidden-sm" href="#"><img src="../Images/Projects/elem14.png"/></a>

        </div>
        <div class="portfolio-container-third">
            <a href="#"><img src="../Images/Projects/elem15.png"/></a>
            <a href="#"><img src="../Images/Projects/elem16.png"/></a>
            <a href="#"><img src="../Images/Projects/elem17.png"/></a>
            <a href="#"><img src="../Images/Projects/elem18.png"/></a>
            <a class="hidden-xs" id="portfolio-display" href="#"><img src="../Images/Projects/elem19.png"/>
                <div class="portfolio-display-elem">
                    <img src="../Images/Projects/elem-shape.png"/>
                    <p>Our new project</p>
                </div>
            </a>
            <a class="hidden-xs hidden-sm" href="#"><img src="../Images/Projects/elem20.png"/></a>
            <a class="hidden-xs hidden-sm" href="#"><img src="../Images/Projects/elem21.png"/></a>
        </div>
        <div class="portfolio-container-fourth">
            <a href="#"><img src="../Images/Projects/elem21.png"/></a>
            <a href="#"><img src="../Images/Projects/elem12.png"/></a>
            <a href="#"><img src="../Images/Projects/elem20.png"/></a>
            <a href="#"><img src="../Images/Projects/elem18.png"/></a>
        </div>

    </div>
</section>

<section id="brands">
    <div class="section-container">
        <img src="../Images/brands.png"/>
        <div class="section-content">
            <div class="section-content-text">
                <h2><span>We working for</span></h2>
                <h1>Brands</h1>
            </div>
        </div>
    </div>

    <div class="brands-container">
        <div class="brands-container-elements">
            <a>
                <div id="apple"></div>
            </a>
        </div>

        <div class="brands-container-elements">
            <a>
                <div id="microsoft"></div>
            </a>
        </div>

        <div class="brands-container-elements">
            <a>
                <div id="volkswagen"></div>
            </a>
        </div>

        <div class="brands-container-elements">
            <a>
                <div id="circle"></div>
            </a>
        </div>

        <div class="brands-container-elements">
            <a>
                <div id="playstation"></div>
            </a>
        </div>

        <div class="brands-container-elements">
            <a>
                <div id="hp"></div>
            </a>
        </div>

        <div class="brands-container-elements">
            <a>
                <div id="lg"></div>
            </a>
        </div>
    </div>

    <div class="brands-container">
        <div class="brands-container-elements">
            <a>
                <div id="android"></div>
            </a>
        </div>

        <div class="brands-container-elements">
            <a>
                <div id="shell"></div>
            </a>
        </div>

        <div class="brands-container-elements">
            <a>
                <div id="dell"></div>
            </a>
        </div>

        <div class="brands-container-elements">
            <a>
                <div id="ea"></div>
            </a>
        </div>

        <div class="brands-container-elements">
            <a>
                <div id="intel"></div>
            </a>
        </div>

        <div class="brands-container-elements">
            <a>
                <div id="html5"></div>
            </a>
        </div>

        <div class="brands-container-elements">
            <a>
                <div id="square"></div>
            </a>
        </div>
    </div>

    <div class="brands-container">
        <div class="brands-container-elements">
            <a>
                <div id="nike"></div>
            </a>
        </div>

        <div class="brands-container-elements">
            <a>
                <div id="square2"></div>
            </a>
        </div>

        <div class="brands-container-elements">
            <a>
                <div id="kfc"></div>
            </a>
        </div>

        <div class="brands-container-elements">
            <a>
                <div id="nivea"></div>
            </a>
        </div>

        <div class="brands-container-elements">
            <a>
                <div id="lambda"></div>
            </a>
        </div>

        <div class="brands-container-elements">
            <a>
                <div id="instagram"></div>
            </a>
        </div>

        <div class="brands-container-elements">
            <a>
                <div id="cooler"></div>
            </a>
        </div>
    </div>


</section>

<footer id="contact">
    <div class="row footer-container">
        <div class="col-xs-12 col-sm-4">
            <h2>Our Team</h2>
            <hr/>
            <p>We are teh best company in the entire world!</p>
        </div>
        <div class="col-xs-12 col-sm-4">
            <h2>About</h2>
            <hr/>
            <p>We are teh best company in the entire world!</p>
        </div>
        <div class="col-xs-12 col-sm-4 footer-contact">
            <h2>Contact</h2>
            <hr/>
            <p>free@template.com
            </p>
            <p>
                www.freetemplate.com
            </p>
            <p>
                tel. +48 123 456
            </p>
        </div>
    </div>
</footer>
<footer id="copyrights">
    <div class="footer-copyrights">
        <p>Copyright * DSGN free use!</p>
    </div>
</footer>

<script src="../Scripts/jquery-2.1.4.js"></script>
<script src="../bootstrap/js/bootstrap.js"></script>
<script src="../Scripts/MainScript.js"></script>
</body>
</html>