<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fashion Smart Template</title>
    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <link href="../css/AllStyles.css" rel="stylesheet"/>
</head>
<body>

<nav id="navigation" class="navbar-fixed-top">
    <div class="nav-logo">
        <a href="#home">DSGN</a>
    </div>
    <div class="nav-icons visible-md visible-lg">
        <a href="http://facebook.com" target="_blank">
            <div class="facebook"></div>
        </a>
        <a href="http://instagram.com" target="_blank">
            <div class="instagram"></div>
        </a>
        <a href="http://twitter.com" target="_blank">
            <div class="twitter"></div>
        </a>
        <a href="http://linkedin.com" target="_blank">
            <div class="linkedin"></div>
        </a>
    </div>

    <div id="navigation-menu">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Menu</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="navbar-nav">
                <li><a href="#counts">Our achievements</a></li>
                <li><a href="#ourTeam">Our team</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#brands">Brands</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>

</nav>

<header id="home">
    <div class="home-container">
        <h2><span>Need our help? </span></h2>
        <h1>Top designers</h1>
        <button>CHECK US!</button>

        <div class="home-container-icons">
            <a href="#counts">
                <i class="glyphicon glyphicon-menu-down"></i>
                <i class="glyphicon glyphicon-menu-down"></i></a>
        </div>

    </div>
</header>

<section id="counts">
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="counts-circle">
                <div class="counts-circle__percentage">
                    <div class="counts-circle-text counts-circle-text__red">
                        <h2>50</h2>
                        <p>big projects</p>
                    </div>
                </div>
            </div>
            <p class="counts-desc">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
            </p>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="counts-circle ">
                <div class="counts-circle__percentage">
                    <div class="counts-circle-text counts-circle-text__green">
                        <h2>35</h2>
                        <p>clients</p>
                    </div>
                </div>
            </div>
            <p class="counts-desc">
                Ipsum dolor sit amet, consectetur adipisicing elit, sed incididunt!
            </p>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="counts-circle ">
                <div class="counts-circle__percentage">
                    <div class="counts-circle-text counts-circle-text__darkblue">

                        <h2>80</h2>
                        <p>months</p>
                    </div>
                </div>
            </div>
            <p class="counts-desc">
                Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
        </div>
    </div>
</section>

<section id="ourTeam">

</section>

<section id="portfolio">

</section>

<section id="brands">

</section>

<footer id="contact">

</footer>

<script src="../Scripts/jquery-2.1.4.js"></script>
<script src="../bootstrap/js/bootstrap.js"></script>
<script src="../Scripts/MainScript.js"></script>
</body>
</html>